<ion-view title="home" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h2 id="abalobiRegister-heading1" style="color:#000000;text-align:center;" class=" ">Abalobi Register</h2>
        <div class="">
            <img src="img/abalobi.jpg" class="main-screen-image" width="70%" height="auto" style="">
        </div>

        <a ui-sref="terms" ng-click="button_register()" id="abalobiRegister-button1" class=" button button-abalobi-1 padding button-block ">
            {{"HOME_REGISTER_ME" | translate}}
        </a>

        <button class="button button-abalobi-3 padding button-block" ng-disabled="unsentFormsExist()" ng-click="sendPipelineForms()">
            Send saved forms ({{unsent_form_count}})
        </button>

        <div class="cs-spacer"></div>

        <a ng-click="button_clear()" class=" button button-abalobi-2 padding button-block  ">{{"HOME_CLEAR" | translate}}</a>

        <a onclick="window.open('http://abalobi.info/', '_system', 'location=yes');" id="abalobiRegister-button2" class=" button button-abalobi-2 padding button-block">{{"HOME_VISIT_WEBSITE" | translate}}</a>

        <div class="cs-spacer"></div>

        <button ng-click="button_check_for_updates()" class=" button button-abalobi-1 padding button-block  ">Check for updates</button>




        <p style="text-align:right; margin-top: 5%"> Version : {{appVersion}} </p>
    </ion-content>
</ion-view>
