<ion-view title="monitor_fmanager_CoOp" hide-nav-bar="true" id="Co-op" class=" " >
  <ion-content padding="true" class="manual-ios-statusbar-padding">


    <h2 id="register2-heading4" style="color:#000000;text-align:center;" class=" ">Abalobi Register</h2>
    <ion-list id="register2-list2" class=" ">
        <h4 ng-show="evaluate_byindex(6) && user.landingsite == undefined ">{{"MFC_COMMUNITY_LANDINGSITE_DESC" | translate}}</h4>
        <form name="landing_form" ng-show="evaluate_byindex(6) && user.landingsite == undefined " id="MFC_landingsite1" novalidate>
            <label for="" class="item item-select">
                <div class="input-label input-province-picker">
                    <strong> {{"MFC_LANDINGSITE_PROVINCE" | translate}} </strong>
                </div>
                <select required ng-change="filter_by_province()" ng-model="select.province" ng-options="province for province in provinces"></select>
            </label>



            <label class="item item-input item-stacked-label cs-max-width" ng-show="select.province!= undefined" class="item item-input">
                <span ng-show="evaluate_byindex(7) && select.province!= undefined" id="MFC_landingsite2" class="cs-spanwrap">{{"MFC_LANDINGSITE_MONITOR" | translate}}</span>
                <span ng-show="evaluate_byindex(8) && select.province!= undefined" id="MFC_landingsite3" class="cs-spanwrap">{{"MFC_LANDINGSITE_FISHMANAGER" | translate}}</span>
                <span ng-hide="evaluate_byindex(8) || evaluate_byindex(7)" id="MFC_landingsite31" class="cs-spanwrap">{{"MFC_LANDINGSITE_FISHMANAGER" | translate}}</span>
            </label>
            <label class="item item-input" ng-show="select.province!= undefined">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="searchbox" type="search" placeholder="{{'MFC_LANDINGSITE_PC' | translate}}">
            </label>
        </form>


      <ion-list ng-hide="searchbox == undefined || user.landingsite != undefined " >

        <ion-item ng-repeat="community in communities_filtered | filter:searchbox"
        site="site"
        ng-click="select_landingsite(community.name_key)">
        <strong> {{community.name_Eng}} </strong>
      </ion-item>
    </ion-list>
  </form>

  <ion-item ng-hide="user.landingsite == undefined">
    <span class="cs-spanwrap">{{"MFC_LANDINGSITE_SELECTED" | translate}} <strong>{{getGenericName(user.landingsite, communities)}}</strong></span>
    <div class="text-right">   <button  class="button button-stable" ng-click="change()">
      {{"GEN_CHANGE" | translate}}
    </button> </div>
  </ion-item>


  <!-- Co-op info input box (for Co-ops) -->
  <form name="co_op_form" ng-show="evaluate_byindex(9)" id="MFC_co_op" novalidate>

    <h4 id="popup_fisher-markdown16" style="color:#000000;" class=" ">{{"MFC_COOP_LABEL" | translate}}</h4>
    <label class="item item-input item-stacked-label "  id="register1-input3">
      <span class="input-label cs-spanwrap">{{"MFC_COOP_NAME" | translate}}</span>
      <input type="text" required ng-model="user.co_op_name" placeholder="{{'MFC_COOP_NAME_PC' | translate}}" name="Co-Op_name">
    </label>

    <label class="item item-input item-stacked-label "  id="register1-input3">
      <span class="input-label cs-spanwrap">{{"MFC_COOP_REG" | translate}}</span>
      <input type="text" required ng-model="user.co_op_reg_num" placeholder="{{'MFC_COOP_REG_PC' | translate}}" name="Co-Op_name">
    </label>

  </form>

  <p style="color:red;" ng-show="landing_form.$invalid && co_op_form.$invalid" ng-hide="user.usertype=='daff_manager'" > {{"GEN_REQUIRED" | translate}} </p>

  <h4 ng-show="user.usertype=='daff_manager'">{{"TERMS_CONFIRM_DAFFMANAGER" | translate}}</h4>

  <!-- Next button to route to Personal Details page -->
  <!-- <p>Usertype:&nbsp;{{user.usertype}} <br>
  Should the button be disabled? {{user.usertype!='daff_manager'}}</p> -->

  <!-- Show if not a manager or coop -->
  <button ui-sref="personal_details" ng-click="update()" ng-hide="user.usertype=='daff_manager' || user.usertype=='co_op'" ng-disabled="landing_form.$invalid && co_op_form.$invalid || formInvalid" id="popup_fisher-button5" class=" button button-positive  button-block ">{{"GEN_NEXT"| translate}}</button>

  <!-- Show only for managers -->
  <button ui-sref="personal_details" ng-click="update()" ng-show="user.usertype=='daff_manager'" id="popup_fisher-button5" class=" button button-positive  button-block " >{{"GEN_NEXT"| translate}}</button>

  <!-- Show only for co-ops -->
  <button ui-sref="personal_details_coop" ng-click="update()" ng-show="user.usertype=='co_op'" id="popup_fisher-button5" class=" button button-positive  button-block " >{{"GEN_NEXT"| translate}}</button>


</ion-content>

</ion-view>
