/* Empty. Add your own CSS if you like */
.cs-spanwrap{
  word-wrap:break-word !important;
  display: block !important;
  /*width: 100% !important;*/
  /*height: 300px !important;*/
  white-space: normal !important;
  padding: 0% !important;
  margin: 0% !important;
  /*border: 1px solid black !important;*/
  position: relative !important;
}
.cs-max-width{
  /*border: 1px solid black !important;*/
  width: 100% !important;
}
.usertype-description {
  background-color: #81D4FA !important;
  border: 1px solid #03A9F4 !important;
  border-radius: 4px !important;
  padding: 4px !important;
  margin-top: 10px !important;
}

.usertype-description p, .usertype-description h1, .usertype-description h2,.usertype-description h3,.usertype-description h4,.usertype-description h5{
  color: white;
}

.main-screen-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 300px;
}

.input-province-picker{
  /*width: 400px;*/
  width: auto;
  max-width: 80%;
  /*position: absolute;*/
}
.row-custom{
  padding:  0px;
  margin:  0px;
}
#cs-split-left{
  padding: 0px;
  margin:  0px;
  /*padding-left: 0px;*/
  padding-right:  5px;
}
#cs-split-right{
  padding: 0px;
  margin:  0px;
  padding-left: 5px;
  /*padding-right:  px;*/
}
.button-half{
  width:  100%;
}
.cs-spacer{
  height: 25px;
}
