/* Empty. Add your own CSS if you like */
.cs-spanwrap{
  word-wrap:break-word !important;
  display: block !important;
  /*width: 100% !important;*/
  /*height: 300px !important;*/
  white-space: normal !important;
  padding: 0% !important;
  margin: 0% !important;
  /*border: 1px solid black !important;*/
  position: relative !important;
}
.cs-max-width{
  /*border: 1px solid black !important;*/
  width: 100% !important;
}
.usertype-description {
  background-color: #81D4FA !important;
  border: 1px solid #03A9F4 !important;
  border-radius: 4px !important;
  padding: 4px !important;
  margin-top: 10px !important;
}


.usertype-description p, .usertype-description h1, .usertype-description h2,.usertype-description h3,.usertype-description h4,.usertype-description h5{
  color: white;
}

.main-screen-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 300px;
}

.input-province-picker{
  /*width: 400px;*/
  width: auto;
  max-width: 80%;
  /*position: absolute;*/
}
.row-custom{
  padding:  0;
  margin:  0;
}
#cs-split-left{
  padding: 0;
  margin:  0;
  /*padding-left: 0px;*/
  padding-right:  5px;
}
#cs-split-right{
  margin:  0;
  padding: 0 0 0 5px;
  /*padding-right:  px;*/
}
.button-half{
  width:  100%;
}


.cs-spacer{
  height: 25px;
}

/*==================================================================
    Abalobi Button Styling
==================================================================*/
.button-abalobi, .button-abalobi-1, .button-abalobi-2, .button-abalobi-3 {
  font-size: 25px;
}
.button-abalobi:hover, .button-abalobi-1:hover, .button-abalobi-2:hover, .button-abalobi-3:hover {
  color: white;
}

.button-abalobi-1 {
  background-color: #0F4162;
  color: white;
}
.button-abalobi-1:active, .button-abalobi-1:focus, .button-abalobi-1.activated {
  background-color: #002142;
}

.button-abalobi-2 {
  background-color: #5C6F68;
  color: white;
}
.button-abalobi-2:active, .button-abalobi-2:focus, .button-abalobi-2:link, .button-abalobi-2.activated {
  background-color: #3C4F48;
}

.button-abalobi-3 {
  background-color: #71AEE8;
  color: white;
}
.button-abalobi-3:active, .button-abalobi-3:focus, .button-abalobi-3:link, .button-abalobi-3.activated {
  background-color: #518EC8;
}


.button-abalobi-large{
  height: 90px;
  font-size: 30px;
}

.button-abalobi-vlarge{
  height: 120px;
  font-size: 30px;
}














